.container {
  height: 100vh;
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  width: 30rem;
  height: 10rem;
}

.container h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;

  height: 4rem;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  text-decoration: none;

  background-color: #7159c1;
  color: #fff;
  transition: transform 0.2s;
}

.container a:hover {
  transform: translateY(0.15rem);
}

@media (min-width: 700px) {
  .container img {
    width: auto;
    height: auto;
  }

  .container h2 {
    font-size: 2.4rem;
  }
}
